@{
    ViewBag.Title = "Home Page";
}

<section style="background-image: url('../../Content/img/jonathan-j-castellon-4xGEJ_D7zb8-unsplash (1).jpg');
" class="py-5 bg-cover bg-center">
    <div class="hero-overlay"></div>
    <div class="container py-5 text-white text-center">
        <h1 class="text-shadow hero-heading">Stop on a dime</h1>
    </div>
</section>


<section class="bg-gray py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <a href="#" class="d-block">
                    <img src="~/Content/img/markus-spiske-oXS1f0uZYV4-unsplash (1).jpg"  alt="" class="img-fluid mb-lg-5">
                </a>
                <h3 class="h5 mb-4"><a href="#" class="text-dark">All hoopers know that finding the best shoes you look for two things: quality and uniqueness.</a></h3>
                <p class="text-small"> Sneaker Stop makes no shortcuts in finding high quality and one of a kind shoes for you to cross-up your oppenents in! Make sure to look through our inventory and see if there are some shoes you would like to add to your collection. </p>
            </div>
        </div>
    </div>
</section>

