@{
    ViewBag.Title = "Shop";
}

<title>@ViewBag.Title</title>
<div class="container py-5">
    <h2 class="lined mb-4">Fresh Finds</h2>
    <div class="row">
        <a href="~/Content/img/portfolio-1.jpg" data-lightbox="gallery" data-title="Description of Project No.1" class="col-lg-4 col-sm-6 p-0"><img src="~/Content/img/portfolio-1.jpg" alt="" class="img-fluid"></a>
        <a href="~/Content/img/portfolio-2.jpg" data-lightbox="gallery" data-title="Description of Project No.2" class="col-lg-4 col-sm-6 p-0"><img src="~/Content/img/portfolio-2.jpg" alt="" class="img-fluid"></a>
        <a href="~/Content/img/portfolio-3.jpg" data-lightbox="gallery" data-title="Description of Project No.3" class="col-lg-4 col-sm-6 p-0"><img src="~/Content/img/portfolio-3.jpg" alt="" class="img-fluid"></a>
        <a href="img/portfolio-4.jpg" data-lightbox="gallery" data-title="Description of Project No.4" class="col-lg-4 col-sm-6 p-0"><img src="~/Content/img/portfolio-4.jpg" alt="" class="img-fluid"></a>
        <a href="~/Content/img/portfolio-5.jpg" data-lightbox="gallery" data-title="Description of Project No.5" class="col-lg-4 col-sm-6 p-0"><img src="~/Content/img/portfolio-5.jpg" alt="" class="img-fluid"></a>
        <a href="~/Content/img/portfolio-6.jpg" data-lightbox="gallery" data-title="Description of Project No.6" class="col-lg-4 col-sm-6 p-0"><img src="~/Content/img/portfolio-6.jpg" alt="" class="img-fluid"></a>
        <a href="~/Content/img/portfolio-7.jpg" data-lightbox="gallery" data-title="Description of Project No.7" class="col-lg-4 col-sm-6 p-0"><img src="~/Content/img/portfolio-7.jpg" alt="" class="img-fluid"></a>
        <a href="~/Content/img/portfolio-8.jpg" data-lightbox="gallery" data-title="Description of Project No.8" class="col-lg-4 col-sm-6 p-0"><img src="~/Content/img/portfolio-8.jpg" alt="" class="img-fluid"></a>
        <a href="~/Content/img/portfolio-9.jpg" data-lightbox="gallery" data-title="Description of Project No.9" class="col-lg-4 col-sm-6 p-0"><img src="~/Content/img/portfolio-9.jpg" alt="" class="img-fluid"></a>
    </div>
</div>
