<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.storefront.jvbdev.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://storefront.jvbdev.com:8172/MsDeploy.axd?site=e2005jburciaga-001-subsite3</MSDeployServiceURL>
    <DeployIisAppPath>e2005jburciaga-001-subsite3</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>e2005jburciaga-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=sql5097.site4now.net;Initial Catalog=DB_A6496C_StoreFront;Persist Security Info=True;User ID=DB_A6496C_StoreFront_admin;Password=Jv1032535;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="StoreFrontLab.UI.MVC.Models.ApplicationDbContext, StoreFrontLab.UI.MVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StoreFront2Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=sql5097.site4now.net;Initial Catalog=DB_A6496C_StoreFront;Persist Security Info=True;User ID=DB_A6496C_StoreFront_admin;Password=Jv1032535;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="StoreFrontLab.DATA.EF.StoreFront2Entities, StoreFrontLab.DATA.EF" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="StoreFront2Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql5097.site4now.net;Initial Catalog=DB_A6496C_StoreFront;Persist Security Info=True;User ID=DB_A6496C_StoreFront_admin;Password=Jv1032535;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=sql5097.site4now.net;Initial Catalog=DB_A6496C_StoreFront;Persist Security Info=True;User ID=DB_A6496C_StoreFront_admin;Password=Jv1032535;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>